*, *::before, *::after {
    box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1280px;
  border: solid;
  margin-inline: auto;
}
.header {
  display: flex;
  padding-block: 40px;
  padding-inline: 50px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.headerNav {
  display: flex;
  gap: 50px;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.wrapperNav{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.wrapperNav li{
  border: solid;
  padding-inline: 80px;
}
.main {
  padding-inline: 40px;
}
.productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.card {
  border: solid 4px;
  padding-inline: 20px;
}